:root {
  --font-size-sm: 16px;
  --font-size-md: 18px;
  --font-size-lg: 24px;
  --font-size-xl: 32px;

  --border-main: 1px solid rgba(255, 255, 255, 0.2);
  --bg-main: white;
  --font-color-main: white;
  --font-color-secondary: #c5c5c5;
  --box-shadow: 0 20px 60px rgba(0, 0, 0, 0.4);

  --border-radius-sm: 10px;
  --border-radius-md: 12px;
  --border-radius-lg: 16px;

  --spacing-sm: 10px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
}